body { 
    font-family: sans-serif; 
    background-image: url('https://github.com/faithfel/unifiedsystem-laravel/blob/main/unifiedsystem/public/bg.gif?raw=true');
    background-repeat: repeat;
    background-size: 700px;
}
.grid { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    float: left; 
    width: 67%; 

}
.product-card { 
    background: #16161641; 
    padding: 15px; 
    border-radius: 8px; 
    text-align: center; 
    backdrop-filter: blur(4px);
    border: 1px solid #303030;
}
#cart { 
    background: #16161641; 
    backdrop-filter: blur(4px);
    border: 1px solid #303030;
    min-height: 100vh;
    padding: 20px; 
    border-radius: 8px; 
    float: right; 
    width: 30%; 
    min-height: 1750px;
    display: flex;
    flex-direction: column;
}

/* Print Logic */
@media print {
    .no-print { display: none !important; }
    .print-only { display: block !important; width: 80mm; /* Standard receipt width */ }
}
.print-only { display: none; }
#receipt-table { width: 100%; border-collapse: collapse; }

img {
    height: 250px;
    border-radius: 8px;
    margin: 8px;
}

page-container {
    display: flex;
}

total-container{
    bottom: 0;
}


button {
    background-color: #0AC5CF;
    color:#011E39;
    border-style: none;
    padding: 8px;
    border-radius: 4px;
}

 h1, h2, h3 , p {
    color: #fff;
}

.logo {
    height: 60px;
    border-radius: 100px;
}

.header-container {
    display: flex;
}

