body { 
    font-family: sans-serif; 
    background: #f4f4f4; 

}
.grid { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    float: left; 
    width: 67%; 
}
.product-card { 
    background: #fff; 
    padding: 15px; 
    border-radius: 8px; 
    text-align: center; 
}
#cart { 
    background: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    float: right; 
    width: 30%; 
    min-height: 100vh;
    margin-bottom: 10px;
}

/* Print Logic */
@media print {
    .no-print { display: none !important; }
    .print-only { display: block !important; width: 80mm; /* Standard receipt width */ }
}
.print-only { display: none; }
#receipt-table { width: 100%; border-collapse: collapse; }

product-img {
    max-height: 500px;
}

page-container {
    display: flex;
}

total-container